<div class="page-header">
  <h1>Edit objective</h1>
</div>

<%= form_for @objective, url: objective_path(@objective) do |f| %>
  <p>
    <%= f.label :title %>
    <%= f.text_field :title,
      placeholder: "Title",
      class: 'span8'
    %>
  </p>

  <p>
    <%= label_tag :user_id, "Teammate selection" %>
    <%= select_tag :user_id, options_from_collection_for_select(@profiles, 'user_id', 'pseudo'),
      selected: @objective.user.profile
    %>
  </p>

  <p>
    <%= f.label "Label(s) selection" %>
    <ul class="inline">
      <% @labels.each do |label| %>
        <li>
          <%= check_box_tag 'label_ids[]', label.id %>
          <%= label_tag label.id, label.name, class: label.colour %>
        </li>
      <% end %>
    </ul>
  </p>

  <p>
    <%= f.label :description, "Objective description" %>
    <%= f.text_area :description,
      placeholder: "Description",
      class: 'span8'
    %>
  </p>

  <p>
    <%= f.submit class: "btn btn-primary" %>
    <%= link_to "Cancel", project_path(@objective.project_id), class: "btn" %>
  </p>

<% end %>
