<div class="page-header">
  <h1>Welcome to my uber app <small><%= current_user.pseudonym unless current_user.nil? %></small></h1>
</div>

<section class="row">
  <% if user_signed_in? %>
		<div class="span4" >
			<h2>Create a new project</h2>
			<%=link_to "Create Project", new_project_path, :class => "btn btn-primary btn-large" %>
		</div>

		<div class="span4" >
			<h2>View and manage all the projects</h2>
			<%=link_to "My Projects", projects_path, :class => "btn btn-primary btn-large" %>
		</div>
	<% else %>
		<div class="hero-unit" >
			<h2>Starting using Weeko !</h2>
			<p>
				<%=link_to "Start Now", new_user_registration_path, :class => "btn btn-primary btn-large" %>
				or
				<%=link_to "Sign In", new_user_session_path, :class => "btn btn-primary btn-large" %>
			</p>
		</div>
	<% end %>
</section>
