<% if user_signed_in? %>

  <ul class="nav nav-tabs" id="data-tab">
    <li class='active'><a href="#obj">My Objectives</a></li>
    <li><a href="#prj">My Projects</a></li>
    <li><a href="#team">My Teams</a></li>
    <li><a href="#act">My Activity</a></li>
  </ul>

  <div class="tab-content">

    <!-- Beginning Tab Objectives -->
    <div class="tab-pane active" id="obj">
      <!-- Progress bar -->
      <% percent =  current_user.profile.percent %>
      <% if percent > 70  %>
      <div class="progress progress-success">
      <% elsif percent > 40 %>
      <div class="progress progress-warning">
      <% else  %>
      <div class="progress progress-danger">
      <% end %>
        <div class="bar" style="width: <%= percent %>%;"></div>
      </div>

      <!-- Objectives -->
      <!-- TODO: Add js to sort the table -->
      <table class="table table-condensed">
        <thead>
          <tr>
            <th>Status</th>
            <th>Title</th>
            <th>Description</th>
            <th>Project</th>
          </tr>
        </thead>
        <tbody>
          <% current_user.objectives.each do |obj| %>
            <tr>
              <td><%= content_tag :span, obj.status, class: "badge badge-" + obj.status.to_s %></td>
              <td><%= link_to "#{obj.title}", objective_path(obj) %></td>
              <td><%= link_to "#{obj.description}"%></td>
              <td><%= link_to "#{obj.project.name}", project_path(obj.project) %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>

    <!-- Beginning Tab Projects -->
    <div class="tab-pane" id="prj">
      <table class="table table-condensed">
        <tbody>
          <% current_user.teams.each do |team| %>
            <% team.projects.each do |project| %>
              <tr>
                <td><%= link_to "#{project.name}", project_path(project) %></td>
                <td><strong>By</strong></td>
                <td> <%= link_to "#{team.name}", team_path(team) %> </td>
              </tr>
            <% end %>
          <% end %>
        </tbody>
      </table>

      <%= link_to "Create new project...", new_project_path %>
    </div>

    <!-- Beginning Tab Teams -->
    <div class="tab-pane" id="team">
      <!-- TODO -->
    </div>

    <!-- Beginning Tab Avtivity -->
    <div class="tab-pane" id="act">
      <div id="chart_div"></div>



      <!-- TODO -->
    </div>
  </div>

  <!-- Script pour écran logué -->
  <script>
    $('#data-tab a').click(
      function (e) {
        e.preventDefault();
        $(this).tab('show');
      }
    )
  </script>

  <!--Load the AJAX API-->
  <script type="text/javascript" src="https://www.google.com/jsapi"></script>

  <script type="text/javascript">
    // Load the Visualization API and the piechart package.
    google.load('visualization', '1.0', {'packages':['corechart']});

    // Set a callback to run when the Google Visualization API is loaded.
    google.setOnLoadCallback(drawChart);

    // Callback that creates and populates a data table,
    // instantiates the pie chart, passes in the data and
    // draws it.
    function drawChart() {

      // Create the data table.
      var data = new google.visualization.DataTable();
      data.addColumn('string', 'Week');
      data.addColumn('number', 'Achievement');
      data.addRows([
        <% period = Date.today - 3.month %>
        <% while period.cweek != Date.today.cweek do %>
          ['<%= "#{period.cweek}" %>', <%= current_user.profile.percent(period: period) %>],
          <% period = period.next_week %>
        <% end %>
        ['<%= "#{period.cweek}" %>', <%= current_user.profile.percent(period: period) %>]
      ]);

      // Set chart options
      var options = {'colors':['green'],
                     'width':1000,
                     'height':300,
                     'hAxis.maxValue':100};

      // Instantiate and draw our chart, passing in some options.
      var chart = new google.visualization.ColumnChart(document.getElementById('chart_div'));
      chart.draw(data, options);
    }
  </script>

<% else %>

  <section class="row">
    <div class="hero-unit span11" >
      <h2>Starting using Weeko !</h2>
      <p>
        <%=link_to "Start", new_user_registration_path, class: "btn btn-primary btn-large" %>
        or
        <%=link_to "Sign In", new_user_session_path, class: "btn btn-primary btn-large" %>
      </p>
    </div>
  </section>

<% end %>
