<% if user_signed_in? %>

  <ul class="nav nav-tabs" id="data-tab">
    <li class='active'><a href="#obj">My Objectives</a></li>
    <li><a href="#prj">My Projects</a></li>
    <li><a href="#team">My Teams</a></li>
    <li><a href="#act">My Activity</a></li>
  </ul>

  <div class="tab-content">

    <!-- Beginning Tab Objectives -->
    <div class="tab-pane active" id="obj">
      <!-- Progress bar -->
      <% percent =  current_user.profile.percent %>
      <% if percent > 70  %>
      <div class="progress progress-success">
      <% elsif percent > 40 %>
      <div class="progress progress-warning">
      <% else  %>
      <div class="progress progress-danger">
      <% end %>
        <div class="bar" style="width: <%= percent %>%;"></div>
      </div>

      <!-- Objectives -->
      <!-- TODO: Add js to sort the table -->
      <table class="table table-condensed">
        <thead>
          <tr>
            <th>Status</th>
            <th>Title</th>
            <th>Description</th>
            <th>Project</th>
          </tr>
        </thead>
        <tbody>
          <% current_user.objectives.each do |obj| %>
            <tr>
              <td><%= content_tag :span, obj.status, class: "badge badge-" + obj.status.to_s %></td>
              <td><%= link_to "#{obj.title}", objective_path(obj) %></td>
              <td><%= link_to "#{obj.description}"%></td>
              <td><%= link_to "#{obj.project.name}", project_path(obj.project) %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>

    <!-- Beginning Tab Projects -->
    <div class="tab-pane" id="prj">
      <table class="table table-condensed">
        <tbody>
          <% current_user.teams.each do |team| %>
            <% team.projects.each do |project| %>
              <tr>
                <td><%= link_to "#{project.name}", project_path(project) %></td>
                <td><strong>By</strong></td>
                <td> <%= link_to "#{team.name}", team_path(team) %> </td>
              </tr>
            <% end %>
          <% end %>
        </tbody>
      </table>

      <%= link_to "Create new project...", new_project_path %>
    </div>

    <!-- Beginning Tab Teams -->
    <div class="tab-pane" id="team">
      <!-- TODO -->
    </div>

    <!-- Beginning Tab Avtivity -->
    <div class="tab-pane" id="act">
      <!-- TODO -->
    </div>
  </div>

<% else %>

  <section class="row">
    <div class="hero-unit span11" >
      <h2>Starting using Weeko !</h2>
      <p>
        <%=link_to "Start", new_user_registration_path, class: "btn btn-primary btn-large" %>
        or
        <%=link_to "Sign In", new_user_session_path, class: "btn btn-primary btn-large" %>
      </p>
    </div>
  </section>

<% end %>

<script>
  $('#data-tab a').click(
    function (e) {
      e.preventDefault();
      $(this).tab('show');
    }
  )
</script>