<div class="page-header">
  <h1>Welcome to my uber app <small><%= current_user.profile.pseudo unless current_user.nil? %></small></h1>
</div>

<% if user_signed_in? %>

	<% status = (params[:status] || Status::PENDING).to_sym %>
	<% percent =  current_user.profile.percent %>
	<section class="row">
		<% if percent > 70  %>
			<div class="progress progress-success">
		<% elsif percent > 40 %>
			<div class="progress progress-warning">
		<% else  %>
			<div class="progress progress-danger">
		<% end %>
	  	<div class="bar" style="width: <%= percent %>%;"></div>
		</div>
	</section>

	<section class="row">
		<div class="span4" >
			<h3>My Objectives</h3>

			<ul class="nav nav-tabs">
				<li <%= "class='active'" if status.eql?(Status::PENDING) %>>
					<%= link_to "Pending", root_path %>
				</li>
				<li <%= "class='active'" if status.eql?(Status::DONE) %>>
					<%= link_to "Done", root_path(status: Status::DONE) %>
				</li>
				<li <%= "class='active'" if status.eql?(Status::MISSED) %>>
					<%= link_to "Missed", root_path(status: Status::MISSED) %>
				</li>
			</ul>

			<ul>
				<% current_user.objectives.each do |obj| %>
					<% if obj.status.eql?(status) %>
						<li>
							<%= link_to "#{obj.title}", objective_path(obj) %>
							in project
							<%= link_to "#{obj.project.name}", project_path(obj.project) %>
						</li>
					<% end %>
				<% end %>
			</ul>
		</div>

		<div class="span4" >
			<h3>My Projects</h3>

			<table class="table table-condensed">
				<tbody>
					<% current_user.teams.each do |team| %>
						<% team.projects.each do |project| %>
							<tr>
								<td><%= link_to "#{project.name}", project_path(project) %></td>
								<td><strong>By</strong></td>
								<td> <%= link_to "#{team.name}", team_path(team) %> </td>
							</tr>
						<% end %>
					<% end %>
				</tbody>
			</table>

			<%= link_to "Create new project...", new_project_path %>
		</div>
	</section>

<% else %>

	<section class="row">
    <div class="hero-unit span11" >
      <h2>Starting using Weeko !</h2>
      <p>
        <%=link_to "Start", new_user_registration_path, class: "btn btn-primary btn-large" %>
        or
        <%=link_to "Sign In", new_user_session_path, class: "btn btn-primary btn-large" %>
      </p>
    </div>
	</section>

<% end %>
