<div class="page-header">
  <h1><%= @project.name %>
    <small><%= link_to "Edit project", edit_project_path(@project.id) %></small>
  </h1>
</div>

<p>
  <h3>Description</h3>
  <%= content_tag :div, @project.description, class: "well" %>
</p>

<p>
  <h3>Objectives
    <%= link_to "+", new_project_objective_path(@project), class: "btn" %>
  </h3>

  <table class="table table-condensed">
        <thead>
          <tr>
            <th>Status</th>
            <th>Title</th>
            <th>Description</th>
            <th>Project</th>
          </tr>
        </thead>
        <tbody>
          <% @objectives.each do |obj| %>
            <tr>
              <td>
                <%= content_tag :span, obj.status, class: "badge badge-" + obj.status.to_s %>
                <!-- Examples for icons
                <span class="<%= "icon icon-" + obj.status.to_s %>" ></span>
                -->
              </td>
              <td>
                <%= link_to "#{obj.title}", objective_path(obj) %>

              </td>
              <td>
                <% obj.labels.each do |l| %>
                  <%= label_tag :label, l.name, class: l.colour %>
                <% end %>
                <%= link_to "#{obj.description}"%>
              </td>
              <td><%= link_to "#{obj.project.name}", project_path(obj.project) %></td>
            </tr>
          <% end %>
        </tbody>
      </table>

<!--

  <table class="table table-striped table-bordered table-condensed">
  	<thead>
  		<tr>
    		<th>Title</th>
    		<th>Description</th>
    		<th>Status</th>
    		<th>Edit</th>
    		<th>Delete</th>
      </tr>
  	</thead>

  	<tbody>
  		<% @objectives.each do |objective| %>
    		<tr>
    			<td>
            <% objective.labels.each do |l| %>
            	<%= label_tag :label, l.name, class: l.colour %>
            <% end %>
            <%= link_to "#{objective.title}", objective_path(objective) %>
          </td>
    			<td><%= link_to "#{objective.description}", objective_path(objective) %></td>
    			<td>
            <%= content_tag :span, objective.status, class: "badge badge-" + objective.status.to_s %>
    			</td>
    			<td><%= link_to "Edit", edit_objective_path(objective) %> </td>
    			<td>
    				<%= link_to "Delete", objective_path(objective),
    					method: :delete,
    					confirm: "Are you sure?"
    				%>
    			</td>
    		</tr>
  		<% end %>
  	</tbody>

  </table> -->
</p>

<p>
  <h3>Teammembers</h3>
  <ul>
    <% @project.team.users.each do |user| %>
      <%= content_tag :li, user.profile.pseudo %>
    <% end %>
  </ul>
</p>
