<div class="page-header">
  <h1><%= @project.name %></h1>
</div>

<p>
  <h3>Description
    <%= link_to "...", edit_project_path(@project.id), class: "btn" %>
  </h3>
  <%= content_tag :div, @project.description, class: "well" %>
</p>

<p>
  <h3>Objectives
    <%= link_to "+", new_project_objective_path(@project), class: "btn" %>
  </h3>

  <table class="table table-condensed">
    <thead>
      <tr>
        <th>Status</th>
        <th>Title</th>
        <th>Description</th>
        <th>Edit</th>
      </tr>
    </thead>
    <tbody>
      <% @objectives.each do |obj| %>
        <tr>
          <td>
            <%= content_tag :span, obj.status, class: "badge badge-" + obj.status.to_s %>
            <!-- Examples for icons
            <%= content_tag :span, "", class: "icon icon-" + obj.status.to_s %>
            -->
          </td>
          <td><%= link_to "#{obj.title}", objective_path(obj) %></td>
          <td>
            <% obj.labels.each do |l| %>
              <%= label_tag :label, l.name, class: l.colour %>
            <% end %>
            <%= link_to "#{obj.description}"%>
          </td>
          <td><%= link_to content_tag(:span, "", class: "icon-edit"), edit_objective_path(obj) %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</p>

<p>
  <h3>Teammembers</h3>
  <ul>
    <% @project.team.users.each do |user| %>
      <%= content_tag :li, user.profile.pseudo %>
    <% end %>
  </ul>
</p>
